.account-page{
    width: 100%;
    height: 100vh;
}
.account-page .account-container{
    border: 1px solid var(--line-color);
    width: 672px; height: 562px;
    border-radius: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    overflow: hidden;
}
.account-page .account-container .account-wrapper{
    width: 200%;
    height: 100%;
    display: flex;
}

.account-page .account-container .account-wrapper > div {
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

/* 회원 계정 정보 수정 */
.account-page .account-container .account-profile div.user-email{
    display: flex;
    justify-content: center;
}
.account-page .account-container .account-profile div.user-email div.email-icon{
    padding-top: 13px;
    padding-right: 2px;
}
.account-page .account-container .account-profile span.user-email{
    display: inline-block;
    width: 300px;
    height: 40px;
    position: relative;
    text-align: left;
    border-radius: 40px;
    border: 1px solid #333;
    padding-left: 16px;
    padding-top: 10px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.account-page .account-container .account-profile .user-password-container{
    display: flex;
    flex-direction: column;
}
.account-page .account-container .account-profile label{
    position: relative;
}
.account-page .account-container .account-profile label span{
    position: absolute;
    top: 20px;
    left: 47px;
    transition: .3s;
}

.account-page .account-container .account-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.account-page .account-container .account-profile label span.focus{
    top: 6px;
    font-size: .7rem;
}

/* 회원이 선택한 좋아하는 장르 수정 */
.account-page .account-container .account-genres .user-likes{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.account-page .account-container .account-genres .user-likes .input-box{
    height: 100%;
    flex-direction: column;
    /* font-family: 'Black Ops One', cursive; */
}
.account-page .account-container .account-genres .user-likes .input-box .inputs{
    margin-bottom: .2rem;
}
.account-page .account-container .account-genres .account-btn-container > button{
    margin: 0 .5rem;
}